<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.midori_browser.midori">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <supports-screens android:smallScreens="false"
                      android:normalScreens="false"
                      android:largeScreens="false"
                      android:xlargeScreens="true"
                      android:anyDensity="true"
                      android:requiresSmallestWidthDp="600"
                      android:resizeable="true"
                      />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_midori"
            android:label="@string/appName"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:targetApi="m">
        <activity android:name=".ActivityTabs"
                android:parentActivityName=".BrowserActivity">
        </activity>

        <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="false"/>
        <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true"/>

        <activity
                android:name=".BrowserActivity"
                android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>